body {
    background: var(--clr-background);
}
table {
    border-collapse: collapse;
}
.noScroll {
    overflow: hidden;
}
.clear-fix {
    clear: both;
}
.hidden {
    display: none;
}
.invisible {
    opacity: 0;
}