:root {
    --clr-primary: hsl(216, 82%, 41%);
    --clr-complementary: hsl(36, 82%, 41%);
    --clr-error: hsl(0, 65%, 45%);
    --clr-placeholder: hsl(0, 0%, 70%);
    --clr-text-700: hsl(0, 0%, 10%);
    --clr-text-600: hsl(0, 0%, 12.5%);
    --clr-text-500: hsl(0, 0%, 17.5%);
    --clr-text-400: hsl(0, 0%, 20%);
    --clr-text-300: hsl(0, 0%, 30%);
    --clr-text-200: hsl(0, 0%, 40%);
    --clr-background: hsl(0, 0%, 95%);

    --textsize-l: 18px;
    --textsize-m: 16px;
    --textsize-standard: 14px;
    --textsize-s: 12px;
    --textsize-xs: 10px;
}